<p>Greetings from Dear {{ user.username }},</p>

<p>Please click the link below for email confirmation, <a href="{{ confirm_url }}">click here</a>.</p>
</p>{{ confirm_url }}</p>

<p style="color:red">Please be sure to complete the email confirmation within one hour, if not, please contact the
    administrator</p>

<p>If clicking the link doesn't work, you can copy and paste the link into your web browser's address bar. After
    clicking the link above, you will activate your account. </p>

<p>If you did not request account registration, you can safely ignore this email. </p>

<p>Please do not reply to this email, if you have any questions, please contact QQ 2399447849</p>

<p>Thank you for using it. </p>

<p>Sincerely,</p>
<p>Admin: </p>

<p>Thanks!!!</p>